In [1]:
from decomposeURL import Preprocess, featureExtraction
import pandas as pd

In [2]:
# from datetime import datetime
# def domainEnd1(domain_name):
#   expiration_date = domain_name.expiration_date
#   if isinstance(expiration_date,str):
#     try:
#       expiration_date = datetime.strptime(expiration_date,"%Y-%m-%d")
#     except:
#       return 1
#   if (expiration_date is None):
#       return 1
#   elif (type(expiration_date) is list):
#       return 1
#   else:
#     today = datetime.now()
#     end = abs((expiration_date - today).days)
#     if ((end/30) < 6):
#       end = 0
#     else:
#       end = 1
#   return end

In [3]:
# import whois
# from urllib.parse import urlparse
# def Preprocessing(url):
#   features = []
#   dns = 0
#   try:
#     domain_name = whois.whois(urlparse(url).netloc)
#   except:
#     dns = 1

#   features.append(dns)
#   features.append(1 if dns == 1 else domainEnd1(domain_name))
#   return features

In [4]:
# d = Preprocessing('https://www.wikipedia.org')
# print(d)

In [5]:
# legi_features = []
# # label = 0

# for i in range(0, 5000):
#   url = legiurl['URLs'][i]
#   legi_features.append(Preprocess(url))

In [2]:
data = pd.read_csv(r"D:\Backup\I5\I5-ITC\PM\project\Phishing-Detection-Using-ML\data\URL dataset.csv")
data.head()

                         url        type
0     https://www.google.com  legitimate
1    https://www.youtube.com  legitimate
2   https://www.facebook.com  legitimate
3      https://www.baidu.com  legitimate
4  https://www.wikipedia.org  legitimate

In [3]:
url = data.sample(n = 5000, random_state = 12).copy()
url = url.reset_index(drop=True)
url.head()

                                                 url        type
0  https://www.archive.org/details/Bell_Telephone...  legitimate
1  https://www.yelp.ca/biz/montreal-general-hospi...  legitimate
2                           http://91.239.25.28:6892    phishing
3  https://www.facebook.com/pages/Robert-Pinsky-A...  legitimate
4  https://www.permanentplastichelmet.com/2011/06...  legitimate

In [4]:
url.drop(['type'], axis=1, inplace=True)
url.head()

                                                 url
0  https://www.archive.org/details/Bell_Telephone...
1  https://www.yelp.ca/biz/montreal-general-hospi...
2                           http://91.239.25.28:6892
3  https://www.facebook.com/pages/Robert-Pinsky-A...
4  https://www.permanentplastichelmet.com/2011/06...

In [5]:
features = []
# label = 0

for i in range(0, 20):
  urls = url['url'][i]
  features.append(Preprocess(urls))

Error trying to connect to socket: closing socket - timed out

In [10]:
#converting the list to dataframe
feature_names = ['Have_IP', 'Have_At', 'URL_Length', 'count_subdomain','Redirection', 
                      'https_Domain', 'TinyURL', 'Prefix/Suffix', 'DNS_Record', 
                      'Domain_Age', 'iFrame', 'Mouse_Over','Right_Click', 'Web_Forwards']

extractedData = pd.DataFrame(features, columns= feature_names)
extractedData

,Have_IP,Have_At,URL_Length,count_subdomain,Redirection,https_Domain,TinyURL,Prefix/Suffix,DNS_Record,Domain_Age,iFrame,Mouse_Over,Right_Click,Web_Forwards
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,1,1,1,1,1,1
3,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,1,0,0,1,0,0,1,0
5,0,0,0,1,0,0,0,0,0,1,1,1,1,1
6,0,0,1,0,0,0,0,0,0,1,0,0,1,0
7,0,0,0,0,0,0,0,0,0,0,1,1,1,1
8,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0
10,0,0,0,0,0,0,0,1,0,0,0,0,1,0
11,0,0,1,0,0,0,0,0,0,1,0,0,1,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,0,0,1,1,0,0,0,0,0,1,1,1,1,1
14,0,0,0,0,0,0,0,1,1,1,1,1,1,1
15,0,0,0,0,0,0,0,0,0,1,0,0,1,0
16,0,0,1,0,0,0,0,0,0,0,0,0,1,0
17,0,0,0,0,0,0,0,0,0,0,0,0,1,0
18,0,0,1,0,0,0,0,0,0,0,0,0,1,0
19,0,0,0,0,0,0,0,0,0,1,0,0,1,0